* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spinner {
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 700px) {
  .spinner {
    width: 100%;
  }
}

body {
  width: 100%;
}

.alice-carousel ul li img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
  .alice-carousel ul li img {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .alice-carousel ul li img {
    height: 200px;
  }
}
